.bigSpin {
  height: 256px;
  width: 256px;
  border-width: 16px;
  animation-duration: 4s;
  border-right-color: rgba(123, 16, 255, 0.1);
}

.midSpin {
  height: 128px;
  width: 128px;
  border-width: 8px;
  animation-duration: 2s;
  animation-direction: reverse;
  border-right-color: rgba(123, 16, 255, 0.1);
}

.smallSpin {
  height: 64px;
  width: 64px;
  border-width: 4px;
  animation-duration: 1s;
  border-right-color: rgba(123, 16, 255, 0.1);
}
