$aside-width: 200px;

@keyframes slide-text {
  from {
    transform: translateX($aside-width);
  }
  to {
    transform: translateX(-100%);
  }
}

.wrap {
  display: flex;
}

.aside {
  position: relative;
  flex: 0 0 $aside-width;
  width: $aside-width;
}

.asideTitle {
  flex-grow: 1;
  white-space: nowrap;
  animation: slide-text 10s linear 0s infinite;
}

.asideSticky {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: $aside-width;
}

.preview {
  flex: 1 0 calc(100% - $aside-width);
  width: calc(100% - $aside-width);
}
