@keyframes blimp {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.3);
  }
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
  cursor: pointer;
  :global(.bi) {
    color: var(--color-alternate);
  }
}

.gumBody {
  --color-primary: #190a32;
  --color-secondary: #3d1e82;
  --color-terniary: #6541c1;
  --color-alternate: #d9378b;
  ul,
  li {
    list-style-position: inside;
  }
  blockquote,
  cite {
    display: inline-block;
    vertical-align: top;
  }
  :global(.btn) {
    border: 0;
    outline: 0;
    font-size: 15px;
    border-radius: 18px;
    display: inline-block;
    padding: 4.5px 21.5px;
  }
  :global(.btn-light) {
    background: #fff;
    color: var(--color-uno);
  }
  :global(.btn-alt) {
    position: relative;
    display: inline-block;
    border: 0;
    outline: 0;
    background: var(--color-tres);
    background: linear-gradient(
      to right,
      var(--color-tres) 0,
      var(--color-alternate) 98%,
      var(--color-alternate) 100%
    );
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 28px;
    padding: 15px 29px;
    box-shadow: 0 15px 30px rgb(212 50 151 / 27%);
  }
  :global(.btn-alt2) {
    position: relative;
    display: inline-block;
    border: 0;
    outline: 0;
    background: var(--color-tres);
    background: linear-gradient(
      to right,
      var(--color-tres) 0,
      var(--color-alternate) 98%,
      var(--color-alternate) 100%
    );
    color: var(--color-uno);
    font-size: 16px;
    font-weight: 600;
    transition: all 0.4s ease;
    border-radius: 28px;
    padding: 15px 29px;
    &:hover {
      color: #ffffff;
      &:before {
        opacity: 0;
      }
    }
    &:before {
      content: '';
      position: absolute;
      top: 2px;
      left: 2px;
      right: 2px;
      bottom: 2px;
      border-radius: 28px;
      background: #fff;
      opacity: 1;
      transition: all 0.4s ease;
    }
    & > span {
      position: relative;
    }
  }
}

.main {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='80' height='60' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3ClinearGradient y2='.5' x2='.8' y1='.8' x1='0' id='b'%3E%3Cstop offset='0' stop-color='%23724fc7'/%3E%3Cstop offset='1' stop-color='%23d4319a'/%3E%3C/linearGradient%3E%3Cfilter height='200%25' width='200%25' y='-50%25' x='-50%25' id='a'%3E%3CfeGaussianBlur in='SourceGraphic'/%3E%3C/filter%3E%3C/defs%3E%3Cpath fill='%23fff' d='M-1-1h82v62H-1z'/%3E%3Cg%3E%3Ccircle stroke='null' filter='url(%23a)' cy='10' cx='63' stroke-opacity='null' stroke-width='1.5' fill='url(%23b)' r='28'/%3E%3Ccircle stroke='null' cy='11.1' cx='49.1' fill-opacity='.1' stroke-opacity='null' stroke-width='1.5' fill='%23fff' r='16.3'/%3E%3Ccircle stroke='null' cy='34' cx='71.9' fill-opacity='.1' stroke-opacity='null' stroke-width='1.5' fill='%23fff' r='10.9'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.bgPrimary {
  background-color: var(--color-primary);
}
.bgSecondary {
  background-color: var(--color-secondary);
}
.bgTerniary {
  background-color: var(--color-terniary);
}

.parallax {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--color-secondary);
    opacity: 0.6;
  }
  & > * {
    position: relative;
  }
}

.video {
  background-image: url('https://images.unsplash.com/photo-1581291518857-4e27b48ff24e?w=640');
}

.count {
  color: var(--color-alternate);
}

.play {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  color: var(--color-alternate);
  background-color: white;
  animation: blimp 0.6s ease-in-out 0s infinite alternate;
  box-shadow: 0px 0px 8px 16px rgba(255, 255, 255, 0.4);
  cursor: pointer;
}
