.editorIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 80%;
  width: 80%;
  min-height: 16px;
  min-width: 16px;
  max-height: 64px;
  max-width: 64px;
  transform: translate(-50%, -50%);
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.fileInputWrap {
  position: relative;
}

.fileInputImage {
  object-fit: contain;
  z-index: 2;
}

.fileInputDrop {
  opacity: 0;
  z-index: 4;
  &:hover + .editorIcon {
    opacity: 0.8;
  }
}
