@keyframes spin-attn {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-0.5deg);
  }
  75% {
    transform: rotate(0.5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes timer-drop {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

.alertContainer {
  position: fixed;
  max-height: 70vh;
  bottom: 64px;
  left: 32px;
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  z-index: 2000;
  @media (max-width: 768px) {
    bottom: 16px;
    left: 16px;
    right: 16px;
    width: unset;
  }
}

.alertElement {
  position: relative;
  display: flex;
  left: 0;
  right: 0;
  min-height: 48px;
  margin: 4px;
  padding: 8px;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  font-family: monospace;
  background-color: #17a2b8;
  color: #ffffff;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
  animation: spin-attn 0.8s linear infinite;
  animation-delay: var(--timeout-delay);
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 2px;
    width: 100%;
    opacity: 0.3;
    animation-name: timer-drop;
    animation-timing-function: linear;
    animation-duration: var(--timeout);
  }
}

.alert-success {
  composes: alertElement;
  background-color: #28a745;
  color: #ffffff;
}
.alert-warning {
  composes: alertElement;
  background-color: #ffc107;
  color: #000000;
}
.alert-danger,
.alert-error {
  composes: alertElement;
  background-color: #dc3545;
  color: #ffffff;
}
.alert-info {
  composes: alertElement;
  background-color: #17a2b8;
  color: #ffffff;
}
.alert-light {
  composes: alertElement;
  background-color: #f8f9fa;
  color: #000000;
}
.alert-dark {
  composes: alertElement;
  background-color: #343a40;
  color: #ffffff;
}

.alertClose {
  margin-left: 8px;
  flex-grow: 0;
  flex-shrink: 0;
  cursor: pointer;
}
