.editorWrap {
  position: relative;
  min-width: 32px;
  &:hover,
  [data-medium-focused='true'] {
    background: rgba(0, 0, 0, 0.1);
  }
  [data-medium-focused='true'] + .editorIcon {
    opacity: 0;
  }
}
.editorIcon {
  position: absolute;
  top: -10px;
  left: -10px;
  height: 18px;
  width: 18px;
  opacity: 0.8;
  cursor: pointer;
}
