.editorWrap {
  position: relative;
  &:hover > .editorIcon {
    opacity: 0.9;
  }
}
.editorIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 80%;
  width: 80%;
  min-height: 16px;
  min-width: 16px;
  max-height: 64px;
  max-width: 64px;
  transform: translate(-50%, -50%);
  opacity: 0;
  cursor: pointer;
  z-index: 3001;
}
