* {
  box-sizing: border-box;
  margin: 0px;
  border: 0px;
  padding: 0px;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.8;
  letter-spacing: 1px;
  background-color: #fff;
  color: #333;
  border-radius: 0px;
  outline: none;
  text-decoration: none;
}
em {
  font-weight: 600;
}
small {
  color: #666;
  font-size: 12px;
  font-weight: 400;
}

.hidden {
  display: none;
}
