@import 'bootstrap/scss/bootstrap';

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

::selection {
  background-color: #7b10ff;
  color: #fff;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  outline: none !important;
  // text-decoration: none;
}
body {
  color: #50668f;
  font-size: 16px;
  line-height: 30px;
  font-family: 'Montserrat', sans-serif !important;
  .modal-content,
  .modal-header,
  .modal-body,
  .modal-footer {
    border-radius: 0;
  }
  .modal-content,
  .modal-body {
    border: 0;
  }
}
textarea {
  resize: none;
}
em {
  font-weight: 600;
}
small {
  color: #666;
  font-size: 12px;
  font-weight: 400;
}

.bg-alt {
  background-image: linear-gradient(110deg, #7b10ff 0, #974fff 100%);
  background-color: #f2f5fa;
}

.btn.btn-alt {
  padding: 12px 32px;
  border: 0;
  border-radius: 0;
  background-image: linear-gradient(110deg, #7b10ff 0, #974fff 100%);
  background-color: #7b10ff;
  color: #fff;
}
.btn.btn-alt:hover,
.btn.btn-alt:focus {
  background: #f2f5fa;
  color: #1e283c;
}
.btn.btn-alt2 {
  padding: 12px 32px;
  border: 0;
  border-radius: 0;
  background: #f2f5fa;
  color: #1e283c;
}
.btn.btn-alt2:hover,
.btn.btn-alt2:focus {
  background-image: linear-gradient(110deg, #7b10ff 0, #974fff 100%);
  background-color: #7b10ff;
  color: #fff;
}

.tight-wrap {
  display: inline-block;
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  font-size: 0;
  line-height: 0;
}
.cursor-pointer {
  cursor: pointer;
}
.mini {
  font-size: 12px;
  line-height: 1.4;
  letter-spacing: 1px;
}

.hero {
  position: relative;
  background: url(/img/hero/hero-bg.png) no-repeat left center/cover;
  background-color: #7b10ff;
  color: #fff;
}

.card-deck {
  justify-content: center;
}
.card {
  max-width: 300px;
}

// Styled-Firebaseui Overwrrites
#firebaseui_container {
  .firebaseui-container {
    max-width: none;
  }
  .firebaseui-title:after {
    content: '/ Sign up';
    margin: 0px 4px;
  }
  .mdl-button--primary.mdl-button--primary,
  .mdl-textfield--floating-label.is-focused .mdl-textfield__label {
    color: #7b10ff;
  }
  .mdl-button--raised.mdl-button--colored,
  .mdl-button--raised.mdl-button--colored:active,
  .mdl-button--raised.mdl-button--colored:focus:not(:active),
  .mdl-button--raised.mdl-button--colored:hover,
  .mdl-button--primary.mdl-button--primary.mdl-button--fab,
  .mdl-button--primary.mdl-button--primary.mdl-button--raised,
  .mdl-progress > .progressbar,
  .mdl-progress.mdl-progress--indeterminate > .bar1,
  .mdl-progress.mdl-progress__indeterminate > .bar1,
  .mdl-progress.mdl-progress--indeterminate > .bar3,
  .mdl-progress.mdl-progress__indeterminate > .bar3,
  .mdl-textfield__label:after,
  .firebaseui-textfield.mdl-textfield .firebaseui-label:after {
    background-color: #7b10ff;
  }
}
