* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  font-family: 'Montserrat', sans-serif;
  outline: none;
  text-decoration: none;
}
textarea {
  resize: none;
}
em {
  font-weight: 600;
}
small {
  color: #666;
  font-size: 12px;
  font-weight: 400;
}

.fh-512 {
  height: 512px;
}
.fsize-32 {
  width: 32px;
  height: 32px;
}
.mw-1024 {
  margin: auto;
  padding: 0;
  max-width: 1024px;
}
